.btn {
    border: 0;
    padding: 10px;
    font-size: 16px;
    white-space: nowrap;
    cursor: pointer;
    border-radius: 10px;
    background: none;
    transition: all .5s;
    font-weight: 600;
}

.btn--inactive {
    color: #818181;
    
}

.btn--inactive:hover {
    background-color: #c6c6c6;
}

.btn--active {
    background: #000000;
    color: #ffffff;
}

.btn-icon {
    padding-right: 5px;
}