.card-body {
    background-image: url("../../assets/background.jpg");
    height: 150px;
    margin-top: 16px;
    padding: 16px;
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
    box-sizing: border-box;
    transition: all .4s;
}

.card-body:hover {
    transform: translateY(-10px) ;
}

@media(min-width: 992px) {
    .card-body {
        width: 250px;
        margin-right: 16px;
    }
}