header {
    width: 100%;
}

header h1 {
    font-size: 30px;
}

header h2 {
    font-size: 16px;
    font-weight: 100;
}

header img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 5px solid #ffffff;
    margin-top: -50px;
}

.navbar-buttons {
    display: flex;
    margin-top: 20px;
    background-color: #e1e1e1;
    overflow: hidden;
    overflow-x: auto;
    max-width: 100%;
    border-radius: 10px;
}

.header-background {
    background-image: url("../../assets/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 150px;
    border-radius: 10px;
}

.menu-links {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 10px 30px;
    box-sizing: border-box;
    width: 90%;
    border-radius: 10px;
    background-color: #ffffff;
    position: fixed;
    bottom: 16px;
    z-index: 1;
}

.menu-links a {
    width: 30px;
    color: #000000;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    font-size: 30px;
}

@media(min-width: 992px) {
    .header-background {
        height: 250px;
    }

    .menu-links {
        position: static;
        width: 400px;
    }
}